extends layout

block heading
  script(type='text/javascript', src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDX4Fw2VFDqPU46MERB-3Z5IXTaaXWhF1Y&sensor=false")
  script(type='text/javascript')
    var map;
    function initialize() {
      var sw = new google.maps.LatLng(22.674847,-124.101562);
      var ne = new google.maps.LatLng(50.120578,-64.6875);
      var mapOptions = {
        center: new google.maps.LatLng(39.8282, -98.5795),
        zoom: 4,
        scrollwheel: false,
        disableDefaultUI: true,
        draggable: false,
        keyboardShortcuts: false,
        disableDoubleClickZoom: true,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      map = new google.maps.Map(document.getElementById("map_canvas"),
          mapOptions);
    }

    function makeMarker(c0, c1, size, color) {
      var latLng = new google.maps.LatLng(parseFloat(c0), parseFloat(c1));
      var marker = new google.maps.Marker({
        position: latLng,
        map: map,
        icon: makeCircle(size, color)
      });
      onClick(marker, c0, c1);
    }

    function makeCircle(size, color) {
      return {
        path: google.maps.SymbolPath.CIRCLE,
        fillColor: color,
        fillOpacity: .5,
        scale: size/2,
        strokeColor: 'white',
        strokeWeight: .5
      };
    }

    function onClick(marker, c0, c1) {
      google.maps.event.addListener(marker, 'click', function() {
        html = '<a href = "www.google.com">Test link</a>';
        document.getElementById("sidebar").innerHTML = html;
      });
    }

block content
  .container(style='height:100%')
    .row-fluid(style='height:100%')
      .span8(style='height:100%')
        #map_canvas(style='width:95%; height:90%')
      .span4#sidebar
    h1= "map info"
    div(id="container2")
      each tweet_properties, location in tweets
        div(id="wrapper")
          p Location: #{location}
          //- each location has tweets, number tweets, sentiments, and average sentiment
          p Number of tweets: #{tweet_properties[2]}
          p Average sentiment: #{tweet_properties[3]}
          p Tweets: #{tweet_properties[0]}
          p Sentiments: #{tweet_properties[1]}

  script(type='text/javascript')
    initialize();
  each info, loc in tweets
    script(type='text/javascript')
      makeMarker(parseFloat('#{info[4][0]}'), parseFloat('#{info[4][1]}'), parseFloat('#{info[2]}'), 'rgb(20,128,173)', 'surprise');

